nav{
    position: relative;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
    box-shadow: 2px 2px 5px 2px rgba(122, 122, 122, 0.7);
}

.title{
    position: absolute;
    left: 20px;
    height: 20px;
    margin-top: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    outline: none;
}

.menu-container{
    position: absolute;
    height: 42px;
    right: 20px;
    top: 15px;
    z-index: 100;
}

.email{
    position: relative;
    float: right;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 4px;
    padding-left: 4px;
    box-sizing: border-box;
}

.menu{
    position: relative;
    height:30px;
    cursor: pointer;
    display: block;
    min-width: 140px;
}

.menu:hover .cls-1{
    fill:rgb(48, 48, 48);
}

.menu-svg{
    position: relative;
    height:30px;
    width: 35px;
    float: right;
    background-color: rgb(15, 146, 113);
}

.menu-p{
    position: relative;
    height: 30px;
    min-width: 50px;
    float: right;
    overflow: hidden;
}


.menuItem{
    position: relative;
    display: block;
    background-color: rgb(15, 146, 113);
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s;
    border-right: solid rgb(15, 146, 113) 4px;
}

.menuItem:nth-child(2){
    border-top: solid rgb(15, 146, 113) 4px;
}

.menuItem p{
    text-align: center;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
}

.menuItem:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}
.menuItem:hover p{
    color: black;
}
.arrow{
    position: relative;
    display: block;
    float: right;
    height: 4px;
    width: 100%;
    background-color: rgb(15, 146, 113);
    color: white;
}

svg{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width:12px;
    height:15px;
}

.cls-1{
    fill:white;
}

@media only screen and (max-width: 450px) {
    .title{
        left:5px;
    }
    .menu-container{
        right: 5px;
    }
}