<div class="main-container">
  <div class="home-container">
    <div class="home-menu-container">
      <ul class="noselect">
        <li routerLink="/home" routerLinkActive="active">Lista klinika</li>
        <li class="menu-active" routerLink="/home/medical-record" routerLinkActive="active">Zdravstveni karton</li>
        <li>Istorija pregleda</li>
      </ul>
    </div>
    <div class="content">
      <div class="div-clinic-title">
        <h3>Zdravstveni karton</h3>
      </div>
      <div class="div-clinic-info">
        <p>podaci o pacijentu</p>
      </div>
    </div>
  </div>
</div>

