<div class="main-container">
  <div class="home-container">
    <div class="home-menu-container">
      <ul class="noselect">
        <li routerLink="/home" routerLinkActive="active">Lista klinika</li>
        <li class="menu-active" routerLink="/home/medical-record" routerLinkActive="active">Zdravstveni karton</li>
        <li routerLink="/home/patient/appointment" routerLinkActive="active">Istorija pregleda</li>
      </ul>
    </div>
    <div class="content">
      <div class="div-clinic-title">
        <h3>Zdravstveni karton</h3>
      </div>
      <div class="div-clinic-info">
        <table *ngIf="medicalRecord!=null">
          <tr>
            <td><p><b>Ime: </b></p></td>
            <td><p>{{medicalRecord.patient.firstName}}</p></td>
            <td><p><b>Prezime: </b></p></td>
            <td><p>{{medicalRecord.patient.lastName}}</p></td>
          </tr>
          <tr>
            <td><p><b>JMBG: </b></p></td>
            <td><p>{{medicalRecord.patient.jmbg}}</p></td>
            <td><p><b>Datum rođenja: </b></p></td>
            <td><p>{{medicalRecord.dateOfBirth}}</p></td>
          </tr>
          <tr>
            <td><p><b>Krvna grupa: </b></p></td>
            <td><p>{{medicalRecord.bloodType}}</p></td>
            <td><p><b>Pol: </b></p></td>
            <td><p>{{medicalRecord.gender==null? "nepoznato" : medicalRecord.gender==="MALE"? "Muški":"Ženski"}}</p></td>
          </tr>
          <tr>
            <td><p><b>Visina: </b></p></td>
            <td><p>{{medicalRecord.height}} cm</p></td>
            <td><p><b>Težina: </b></p></td>
            <td><p>{{medicalRecord.weight}} kg</p></td>
          </tr>
        </table>
        <h4 *ngIf="medicalRecord==null">
          Vaš zdravstveni karton nije kreiran.
        </h4>
      </div>
    </div>
  </div>
</div>

