.menu-active{
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(43, 43, 43, 0.952);
}

.div-clinic-title{
    position: relative;
    text-align: center;
    display: block;
    width: 90%;
    height: 55px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(15, 146, 113);
    color: white;
    box-sizing: border-box;
}

.div-clinic-info{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.div-clinic-grade{
    position: absolute;
    right: 10px;
    top:0px;
}

.div-clinic-grade p{
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rebeccapurple;
}

.address{
    position: relative;
    list-style: none;
    padding: 5px;
    margin: 0;
}

h3{
    padding: 15px;
    margin: 0;
}

h4{
    text-align: center;
    display: block;
}

.description{
    position: relative;
    display: block;
    width: 80%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .clinic-title{
        width: 100%;
    }
    .div-clinic-info{
        width: 100%;
    }
}



.table-clinic{
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 0px;
}
.table-clinic tr td{
    padding: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

.table-clinic tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-clinic tr{
   overflow: hidden;
   border-collapse: collapse;
   background-color: white;
   cursor:pointer;
}


.message-dialog-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    z-index: 1000;
    background-color: rgba(43, 43, 43, 0.85);
}

.message-dialog{
    z-index: 1001;
    position: absolute;
    width: 350px;
    height: 160px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
}

.dialog-btn{
    position: relative;
    display: block;
    background-color: rgb(15, 146, 113);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
}

.dialog-btn-close{
    position: absolute;
    right: 6px;
    top:0px;
    width: fit-content;
    cursor: pointer;
}

.dialog-btn-close p{
    padding: 6px;
    text-align: center;
    font-weight: bold;
    color:rgba(43, 43, 43, 0.85);
    width: fit-content;
    font-size: 16px;
}

.dialog-btn p{
    color: white;
    padding: 5px;
    text-align: center;
}

.status-message{
    width: 100%;
    padding: 2px;
    text-align: center;
}