<div class="message-dialog-box" *ngIf="submitReservatinForm">
  <div class="message-dialog">
    <div class="dialog-btn-close" (click)="closeDialog()"><p>X</p></div>
    <br><br>
    <h4 style="color:rgb(77, 77, 77);">Da li želite zakazati selektovani pregled</h4>
    <div class="dialog-btn" *ngIf="!submitBtn" (click)="submit()"><p>Zakaži pregled</p></div>
    <div class="loader" *ngIf="submitBtn"></div>
    <p class="status-message">{{statusMessage}}</p>
  </div>
</div>
<div class="main-container">
  <div class="home-container">
    <div class="home-menu-container">
      <ul class="noselect">
        <li class="menu-active" routerLink="/home" routerLinkActive="active">Lista klinika</li>
        <li routerLink="/home/medical-record" routerLinkActive="active">Zdravstveni karton</li>
        <li routerLink="/home/patient/examination" routerLinkActive="active">Istorija pregleda</li>
      </ul>
    </div>
    <div class="content">
      <div class="div-clinic-title">
        <h3>{{clinicProfile.name}}</h3>
        <div class="div-clinic-grade noselect">
          <p><b>{{clinicProfile.grade}}</b></p>
        </div>
      </div>
      <p class="description">{{clinicProfile.description}}</p>
      <div class="div-clinic-info">
        <ul class="address">
          <li><b>Adresa:</b> {{clinicProfile.address}}</li>
          <li><b>Grad:</b> {{clinicProfile.city}}</li>
          <li><b>Drzava:</b> {{clinicProfile.country}}</li>
        </ul>
      </div>
      <br>
      <div class="div-clinic-info" *ngIf="medicalAppointment[0]!=null">
        <table class="table-clinic">
          <caption>
            <h4>Lista unaprijed definisanih termina</h4>
          </caption>
          <tr>
            <th >Datum i vreme</th>
            <th >Trajanje</th>
            <th >Doktor</th>
            <th >Tip pregleda</th>
            <th >Prostorija</th>
            <th >Cijena</th>
            <th >Popust</th>
          </tr>
          <tr *ngFor="let m of medicalAppointment; let i = index" [style.background-color]="(i%2==0)? 'transparent':'white'"
            (click)="schedule(m.id)">
            <td>{{m.dateTime}}</td>
            <td>{{m.duration}} min</td>
            <td>{{m.doctor.firstName}} {{m.doctor.lastName}}</td>
            <td>{{m.appointmentType.name}}</td>
            <td>{{m.room.name}}</td>
            <td>{{m.price}} din</td>
            <td>{{m.discount}} din</td>
          </tr>
        </table>
    </div>
  </div>
</div>

