<div class="message-dialog-box" *ngIf="cancelDialog">
  <div class="message-dialog">
    <div class="dialog-btn-close" (click)="closeDialog()"><p>X</p></div>
    <br><br>
    <h4 style="color:rgb(77, 77, 77);">Da li želite otkazati selektovani pregled?</h4>
    <div class="dialog-btn" *ngIf="!dialogBtnSub" (click)="cancelAppointment()"><p>Otkaži pregled</p></div>
    <div class="loader" *ngIf="dialogBtnSub"></div>
    <p class="status-message">{{statusMessage}}</p>
  </div>
</div>
<div class="message-dialog-box" *ngIf="gradeDialog">
  <div class="message-dialog md2">
    <div class="dialog-btn-close" (click)="closeDialog()"><p>X</p></div>
    <br>
    <h4 style="color:rgb(77, 77, 77);">Ocjene za selektovani pregled.</h4>
    <p class="grade">Ocjena doktora</p>
    <div class="star-grade">
      <svg (click)="setDoctorGrade(1)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.doctorGrade>=1)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setDoctorGrade(2)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.doctorGrade>=2)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setDoctorGrade(3)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.doctorGrade>=3)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setDoctorGrade(4)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.doctorGrade>=4)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setDoctorGrade(5)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.doctorGrade>=5)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
    </div>
    <p class="grade">Ocjena klinike</p>
    <div class="star-grade">
      <svg (click)="setClinicGrade(1)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.clinicGrade>=1)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setClinicGrade(2)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.clinicGrade>=2)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setClinicGrade(3)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.clinicGrade>=3)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setClinicGrade(4)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.clinicGrade>=4)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
      <svg (click)="setClinicGrade(5)" viewBox="0 0 30 30" preserveAspectRatio="none" [style.fill]="(mAppointment.clinicGrade>=5)? 'rgb(15, 146, 113)' : 'rgba(168, 168, 168, 0.952)'"><polygon class="cls-1" points="19.61 9.76 30 11.19 22.6 18.95 24.52 29.73 15.18 24.76 5.98 30 7.6 19.17 0 11.63 10.34 9.9 14.85 0 19.61 9.76"/></svg>
    </div>
    <br>
    <!-- <div class="dialog-btn" *ngIf="!dialogBtnSub" (click)="setGrade()"><p>Sačuvaj</p></div>
    <div class="loader" *ngIf="dialogBtnSub"></div> -->
    <p class="status-message">{{statusMessage}}</p>
  </div>
</div>
<div class="main-container">
  <div class="home-container">
    <div class="home-menu-container">
      <ul class="noselect">
        <li routerLink="/home" routerLinkActive="active">Lista klinika</li>
        <li routerLink="/home/medical-record" routerLinkActive="active">Zdravstveni karton</li>
        <li class="menu-active" routerLink="/home/patient/examination" routerLinkActive="active">Istorija pregleda</li>
      </ul>
    </div>
    <div class="content">
      <table class="table">
        <caption style="background-color: rgb(15, 146, 113);">
          <h3 style="color: white;">Lista pregleda-operacija</h3>
        </caption>
        <tr>
          <th (click)="sortDataBy('date_time')">Datum i vreme</th>
          <th (click)="sortDataBy('duration')">Trajanje</th>
          <th (click)="sortDataBy('doctor_id')">Doktor</th>
          <th (click)="sortDataBy('appointment_type_id')">Tip pregleda</th>
          <!-- <th (click)="sortDataBy('room_id')">Prostorija</th> -->
          <th (click)="sortDataBy('price')">Cijena</th>
          <th (click)="sortDataBy('discount')">Popust</th>
          <th> </th>
        </tr>
        <tr *ngFor="let m of medicalAppointment; let i = index" [style.background-color]="(i%2==0)? 'transparent':'white'"
        >
          <td>{{m.dateTime}}</td>
          <td>{{m.appointmentType.duration}} min</td>
          <td>{{m.doctor.firstName}} {{m.doctor.lastName}}</td>
          <td>{{m.appointmentType.name}}</td>
          <!-- <td>{{m.room.name}}</td> -->
          <td>{{m.price}} din</td>
          <td>{{m.discount}} din</td>
          <td (click)="openDialog(m)"><span style="color: rgb(15, 146, 113); ">{{m.appointmentStatus=="FINISHED"? "ocjena" : "otkaži"}}</span></td>
        </tr>
      </table>
      
      <p class="page-number" *ngIf="pageable.totalElements>8">
        <span style="color: rgb(15, 146, 113); font-weight: bold;">(</span> 
        {{currentPage+1}} - {{this.pageable.totalPages}} 
        <span style="color: rgb(15, 146, 113); font-weight: bold;">)</span>
      </p>
      <div class="page-btn" *ngIf="pageable.totalElements>8">
        <p class="btn" (click)="prevPage()" [style.background-color]="(currentPage>0)? 'rgb(15, 146, 113)' : 'rgb(167, 167, 167)'">Prethodna strana</p>
        <p class="btn" (click)="nextPage()" [style.background-color]="(currentPage!=this.pageable.totalPages-1)? 'rgb(15, 146, 113)' : 'rgb(167, 167, 167)'">Sledeća strana</p>
      </div>
    </div>
  </div>
</div>

