<div class="main-container">
  <div class="ch-password-container">
    <p class="reg-log-btn noselect" (click)="closeForm()">Zatvori</p>

    <!--Change-password-form-->
    <form action="" class="registration-form" (ngSubmit) = "onSubmit()" [formGroup]="changePasswordForm">
      <table class="reg-form-table">
        <tr class="text">
          <td><p>Stara lozinka</p></td>
        </tr>
        <tr>
          <td><input type="password" formControlName="oldPassword" name="oldPassword" id="oldPassword" placeholder="Stara lozinka" [style.border]="isFieldValid('oldPassword')? 'none':'solid orange 1px'"></td>
        </tr>
        <tr class="text">
          <td><p>Nova lozinka</p></td>
        </tr>
        <tr>
          <td><input type="password" formControlName="newPassword" name="newPassword" id="newPassword" placeholder="Nova lozinka" [style.border]="isFieldValid('newPassword')? 'none':'solid orange 1px'"></td>
        </tr>
        <tr class="text">
          <td><p>Ponovite lozinku</p></td>
        </tr>
        <tr>
          <td><input type="password" formControlName="newPassword2" name="newPassword2" id="newPassword2" placeholder="Ponovite lozinku" [style.border]="isPasswordValid()? 'none':'solid orange 1px'"></td>
        </tr>
        <tr>
          <td class="">
            <br>
            <input *ngIf="!submit" type="submit" name="change-password-btn" value="Sačuvaj izmene" class="btn-submit">
            <div class="loader" *ngIf="submit"></div>
          </td>
        </tr>
        <tr *ngIf="mesInfo">
          <td colspan="2">
            <p class="status-message">{{statusMessage}}</p>
          </td>
        </tr>
      </table>
    </form>
    
  </div>
</div>